app-nav-bar{
    grid-column: 1/49;
}
app-side-nav-filter{
    grid-column: 1/12;
    grid-row: 1 / 5;
}
app-section-rayons{
    grid-column: 12/49;
}
app-rayon-items-section{
    grid-column: 12/49;
} 