app-nav-bar{
    grid-column: 1/49;
}
app-slider{
    grid-column: 1/49;
}
app-sidenav{
    grid-column: 1/12;
    grid-row: 3 / 5;
}
app-section{
    grid-column: 12/49;
}
app-items-section{
    grid-column: 12/49;
}