app-landing-page{
    grid-column: 1/49;
    display: grid;
    grid-template-columns: repeat(48, 1fr);
}
app-rayons{
    grid-column: 1/49;
    display: grid;
    grid-template-columns: repeat(48, 1fr);  
}
app-nav-bar{
    grid-column: 1/49;
}
