<div class="DecouvrirApp-Container">
    <div class="ServicesApp">
        <div><img src="../assets/images/section/items.png"><p>+4000 Produit Frais prêt a étre livrer</p></div>
        <div><img src="../assets/images/section/delivery truck.png"><p>Service Livraison a domicile ou en point relais</p></div>
        <div><img src="../assets/images/section/save money.png"><p>Economiser votre argents grace nos offres</p></div>
        <div><img src="../assets/images/section/headphones.png"><p>Service Client disponible 24h/7j</p></div>
    </div>
    <div class="OffreApp">
        <div class="Offre">
            <p>Livraison offerte des 800Da sur la premiére commande</p>
        </div>
        <!-- <div class="Login">
            <p>Connectez-vous à Logo pour béneficier de tout nos services</p>
            <button>Se Connecter</button>
        </div> -->
    </div>
</div>
