<div class="Custom-Navbar">
    <div class="logo">    
        <img class="img-nav" src="../assets/images/navbar/moon.png">
        <a (click)="MenuDisplay()" routerLink="">Logo</a>
    </div>
    <div class="Head-nav">
        <div class="SearchB"
        [@ExpandSearchContainer]="SearchItemsDisplay ? 'expanded' : 'collapsed'">
             <input (focus)="focus()" (blur)="blur()" 
             type="text" class="SearchIn" placeholder="Recherche Produit">
             <div class="Img-Container"><img src="../assets/images/navbar/Loupe.png"></div>
             <div *ngIf="SearchItemsDisplay" class="SearchItems-Container">
                <!-- <p *ngFor="let item of items">{{ item }}</p> -->
                <a href="#">Coca Cola</a>
                <a href="#">Pepsi</a>
                <a href="#">Merinda</a>
                <a href="#">Sprite</a>
            </div>
        </div>
        <div class="Basket">
            <a href="#" class="">
            <img src="../assets/images/navbar/Basket.png" alt="" class="">
            </a>
        </div>
    </div>
    <div class="Container-NavItems">
        <ul class="NavItems">
            <li (blur)="blur()" (focus)="focus()">
                <img src="../assets/images/navbar/heart.png">
                <a (click)="MenuDisplay('NosRayons')">Nos Rayons</a>
                <div class="NosRayons-Menu"
                [@ExpandMenuRayon]="(RayonsDisplay && SelectedMenu == 'NosRayons')? 'expanded' : 'collapsed'">
                    <span></span>
                    <img src="cancel.png">
                    <ng-container *ngFor="let Ra of Rayons; let i = index">
                        <div class="Section" *ngIf=" i%6 == 0">
                            <!-- 1 -->
                            <ng-container *ngFor="let Ra of Rayons; let ii = index">
                                <div class="Rayon-Container" *ngIf="ii >= (i) && ii<(6*(i+1))" (mouseenter)="Mousein(Ra.Rayon)" (mouseleave)="Mouseout()">
                                    <h1 (click)="MenuDisplay()"><a [routerLink]="['/Rayons',Ra.Rayon]">{{ Ra.Rayon }}</a></h1>
                                    <!-- <img src="../assets/images/navbar/poisson3.jpg"> -->
                                    <ul [@RayonContainerAnim]="RayonContainerDisplay && SelectedRayon== Ra.Rayon ? 'expanded' : 'collapsed'">
                                        <li *ngFor="let SR of Ra.Sous_Rayon"><p (click)="MenuDisplay()"><a [routerLink]="['/Rayons',Ra.Rayon,SR]">{{ SR }}</a></p></li>
                                    </ul>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </li>
            <li><img src="../assets/images/navbar/heart.png"><a (click)="MenuDisplay('Livrer Moi')">Livrer Moi</a>
                <ul class="Livrer-Menu" 
                [@ExpandMenuRayon]="(RayonsDisplay && SelectedMenu == 'Livrer Moi')? 'expanded' : 'collapsed'">
                    <li>
                        <div class="Livrer-Container">
                            <div class="Livrer-InputS">
                                <div class="Hrt-Img"><img src="../assets/images/navbar/heart.png"><span></span></div>
                                <input type="text" class="" placeholder="Entrer l'adress de livraison">
                                <div class="Srch-Img"><img src="../assets/images/navbar/Loupe.png"></div>
                            </div>
                            <div class="Livrer-Category">
                                <div>
                                    <p>Delivery</p>
                                </div>
                                <div>
                                    <p>Pick up</p>
                                </div>
                                <span></span>
                            </div>
                        </div>
                    </li>
                    <li class="Label-NoLiveS">
                        <p>Sorry Our Service is not provided in your area yet</p>
                    </li>
                </ul>
            </li>
            <li><img src="../assets/images/navbar/heart.png"><a (click)="MenuDisplay('Mes Favories')">Mes Favories</a>
                <ul class="Favori" hidden></ul>
                <ul class="Favori-Client" hidden></ul>
            </li>
            <li><img src="../assets/images/navbar/heart.png"><a (click)="MenuDisplay('Me Connecter')">Me Connocter</a>
                <ul class="Connecter-Menu" 
                [@ExpandMenuRayon]="(RayonsDisplay && SelectedMenu == 'Me Connecter')? 'expanded' : 'collapsed'">
                    <li>
                        <p class="font-bold">Deja un client !!</p>
                    </li>
                    <li>
                        <div class="Login-Container">
                            <button>Me Connecter</button>
                            <p>Acceder a votre compte pour bénificier de tous les services</p>
                        </div>
                    </li>
                    <li>
                        <div class="Signup-Container">
                            <p class="font-bold">Pas encore Client!</p>
                            <a href="#">► Me creer un compte</a>
                        </div>
                    </li>
                    <li>
                        <div class="Subscribe-Container">
                            <div class="text">
                                <div>
                                    <span></span>
                                </div>
                                    <p>Ou s'incrire avec</p>
                                <div>
                                    <span></span>
                                </div>
                            </div>
                            <div class="l">
                                <a href="#"><img src="../assets/images/navbar/google.png"></a>
                                <a href="#"><img src="../assets/images/navbar/facebook.png"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="li-others" (click)="MenuDisplay('Others')"><a>○○○</a>
                    <ul class="Others-Menu" 
                    [@ExpandMenuRayon]="(RayonsDisplay && SelectedMenu == 'Others')? 'expanded' : 'collapsed'">
                        <li><img><a href="">Promotions</a></li>
                        <li><img><a href="">Trends</a></li>
                        <li><img><a href="">Our Custumers Love</a></li>
                        <li><img><a href="">Deals</a></li>
                        <li><img><a href="">Carte de Fidélité</a></li>
                    </ul>
            </li>
        </ul>
    </div>
</div>