<div class="Slider-Container">
    <div class="SlideTop"></div>
    <div class="SlideBottom"></div>
    <div class="SlideTxt">
        <p>Offre du Jour</p>
        <div class="Subject">
            <h1>Promotion fin d'Années</h1>
        </div>
        <div class="About-Subject">
            <p>Pour terminer 2019 au TOP !</p>
            <p> Du 1er Au 29 Decembre 2019</p>
            <p> Lorem ipsum </p><button><span></span>Profitez-en !</button>
        </div>
    </div>
    <div class="WelcomeTxt">   
         <p>Bienvenue</p>
         <p>chez LOGO</p>
    </div>
</div>
